<div class="modal-header">
    Confirm
</div>
<div class="modal-body">    
        <div class="row">
            <div class="col-sm-12">
                {{message}}
            </div>
        </div>    
</div>
<div class="modal-footer">
    <div class="right">
        <button type="submit" class="btn btn-primary" ng-click="yes()">
            Yes
        </button>
        <button type="button" class="btn btn-default" ng-click="no()">
            No
        </button>
    </div>
</div>