<div class="modal-header">
    Login
</div>
<div class="modal-body">
    <form class="form-login" role="form">
        <div class="row">
            <div class="col-sm-12 form-group">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
            </div>
        </div>
        <div class="row" data-ng-hide="message == ''">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    {{message}}
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-primary" type="submit" data-ng-click="login()">Login</button>
</div>



    
    

